<!DOCTYPE html>
<html  lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css?r=" + DateTime.Now.ToString("ddmmyymiss"))
</head>

<body>
    <div class="container">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery?r=" + DateTime.Now.ToString("ddmmyymiss"))
    @Scripts.Render("~/bundles/bootstrap?r=" + DateTime.Now.ToString("ddmmyymiss"))
    @RenderSection("scripts", required: false)
</body>
</html>
