<!DOCTYPE html>
<html  lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Home</title>

    @Styles.Render("~/bundles/styles")
    @Styles.Render("~/Content/css/principal.css")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>

    <!-- Top Nav -->
    <nav class="navbar navbar-light bg-light">
        <ul style="list-style-type: none;">
            <li class="nav-item mt-3">
                <i class="fas fa-bars fa-2x" style="color: #585858; cursor: pointer;" onclick="openNav()" ;></i>

            </li>
        </ul>
        <a class="navbar-brand" href="@Url.Action("Index", "Home")">
            <img src="~/Content/img/sia-2.png" width="60" height="auto" loading="lazy">
        </a>
    </nav>

    <!-- Side Nav -->
    <div id="mySidenav" class="sidenav" style="background-color: #01AF3B;">

        <div class="mb-4 pt-5 pl-3" style="background: url(../../SIA_MOVIL/Content/img/fondo.png); width: 280px; height: 180px; background-repeat: no-repeat; background-size: cover;" href="javascript:void(0)" class="closebtn" onclick="closeNav()">
            <div class="row">
                <div class="ml-4 circle">J</div>
                <div id="lbNombreUsuario" class="ml-2 text-white mt-3" style="font-size: 1.5em;"></div>
            </div>
        </div>

        <a href="@Url.Action("Index", "Home")" style="color: white; font-size: 1.5em;"><img src="~/Content/img/estacion.png" class="mr-2" style="vertical-align: text-bottom;" width="30" height="auto" alt="">Estaciones</a>
        <a href="@Url.Action("Index", "Indicadores")" style="color: white; font-size: 1.5em;"><img src="~/Content/img/indicadores.png" class="mr-2" style="vertical-align: text-bottom;" width="30" height="auto" alt="">Indicadores ambientales</a>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        @*<a href="@Url.Action("Login", "Login")" class="mt-5" style="color: white; font-size: 1.5em;"><img src="~/Content/img/logout.png" class="mr-2" style="vertical-align: text-bottom;" width="25" height="auto" alt="">Cerrar sesión</a>*@
        <a href="javascript:void(0);" class="mt-5 cerrarSesion" style="color: white; font-size: 1.5em;"><img src="~/Content/img/logout.png" class="mr-2" style="vertical-align: text-bottom;" width="25" height="auto" alt="">Cerrar sesión</a>
    </div>

    @RenderBody()

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "280px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>

    @Html.Partial("_LoadingModal")

    @RenderSection("scripts", required: false)
</body>
</html>
