<!DOCTYPE html>
<html  lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Login SIA</title>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

    @Styles.Render("~/bundles/styles")
    @Styles.Render("~/Content/css/login.css")
</head>
<body>

    <div class="container">
        @RenderBody()
    </div>

    @Html.Partial("_LoadingModal")
    @RenderSection("scripts", required: false)

</body>
</html>
