<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css?r=" + DateTime.Now.ToString("ddmmyymiss"))
    @Scripts.Render("~/bundles/modernizr?r=" + DateTime.Now.ToString("ddmmyymiss"))

    <script src="https://kit.fontawesome.com/97fa47432f.js" crossorigin="anonymous"></script>

</head>

<body>


    <!-- Nav superior -->
    <nav class="navbar navbar-light bg-light">
        <ul style="list-style-type: none;">
            <li class="nav-item mt-3">
                <i class="fas fa-bars fa-2x" style="color: #585858; cursor: pointer;" onclick="openNav()" ;></i>

            </li>
        </ul>
        <a class="navbar-brand" href="home.html">
            <img src="~/img/sia-2.png" width="60" height="auto" loading="lazy">
        </a>
    </nav>

    <!-- Side Nav -->
    <div id="mySidenav" class="sidenav" style="background-color: #01AF3B;">

        <div class="mb-4 pt-5 pl-3" style="background: url(../img/fondo.png);width: 280px; height: 180px; background-repeat: no-repeat; background-size: cover;" href="javascript:void(0)" class="closebtn" onclick="closeNav()">
            <div class="row">
                <div class="ml-4 circle">J</div>
                <div class="ml-2 text-white mt-3" style="font-size: 1.5em;">Jorge Rojas</div>
            </div>
        </div>

        <a href="home.html" style="color: white; font-size: 1.5em;"><img src="~/img/estacion.png" class="mr-2" style="vertical-align: text-bottom;" width="30" height="auto" alt="">Estaciones</a>
        <a href="indicadores-ambientales.html" style="color: white; font-size: 1.5em;"><img src="~/img/indicadores.png" class="mr-2" style="vertical-align: text-bottom;" width="30" height="auto" alt="">Indicadores ambientales</a>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <a href="login.html" class="mt-5" style="color: white; font-size: 1.5em;"><img src="~/img/logout.png" class="mr-2" style="vertical-align: text-bottom;" width="25" height="auto" alt="">Cerrar sesión</a>
    </div>

    <div class="col-12" style="background-color: #016E3F; height: 50px;">
        <div class="row">
            <a href="home.html"><div class="col-1 mt-3"><i class="fas fa-chevron-left text-white"></i></div></a>
            <div class="col-10 mt-2 text-center"><h4 class="text-white">Indicadores Ambientales</h4></div>
        </div>
    </div>

    <div class="container">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery?r=" + DateTime.Now.ToString("ddmmyymiss"))
    @Scripts.Render("~/bundles/bootstrap?r=" + DateTime.Now.ToString("ddmmyymiss"))
    @RenderSection("scripts", required: false)
</body>
</html>
